<form class="form vertical screen-floater screen-checkout-checks" ng-show="options.check_split === CHECK_SPLIT_BY_ITEMS && !guestEditorType">
  <button class="button">Back</button>
  <table class="table zebra">
    <thead>
      <tr>
        <td></td>
        <td class="amount"></td>
        <td class="price"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td class="amount"></td>
        <td class="price"></td>
      </tr>
    </tbody>
  </table>
</form>

<div class="screen-body-part checkout-body-main">
  <form class="form checkout-right-block" ng-show="options.check_split !== CHECK_SPLIT_BY_ITEMS && !guestEditorType">
    <h2><span>How would you like to split bill?</span></h2>
    <ul class="vertical">
      <li><button class="button" type="button" ng-click="editGuestCount(CHECK_SPLIT_EVENLY)">Evenly</button></li>
      <li><button class="button" type="button" ng-click="editGuestCount(CHECK_SPLIT_BY_ITEMS)">By items</button></li>
      <li><button class="button" type="button" ng-click="splitCheck(CHECK_SPLIT_NONE)">Don't split</button></li>
    </ul>
  </form>

  <form class="form checkout-right-block" ng-show="guestEditorType" ng-submit="splitCheck(guestEditorType)">
    <h2><span>How many checks?</span></h2>
    <ul class="vertical">
      <li><output class="output" for="checkout-guests-items">{{options.guest_count}}</output></li>
      <li><input id="checkout-guests-items" type="range" ng-model="options.guest_count" min="1" max="{{options.guest_count_max}}" step="1" /></li>
    </ul>
    <ul class="horizontal">
      <li><button class="button secondary" type="button" ng-click="cancelEditGuestCount()">Back</button></li>
      <li><button class="button" type="submit">Next</button></li>
    </ul>
  </form>

  <form class="form checkout-right-container" ng-show="options.check_split === CHECK_SPLIT_BY_ITEMS && !guestEditorType">
    <h2><span>Split accordingly</span></h2>
    <p>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/></p>
    <p>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/></p>
    <p>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/></p>
    <p>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/></p>
    <p>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/></p>
    <p>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/>111<br/></p>
  </form>
</div>
