<div id="screen-checkout" class="screen" ng-show="state === STATE_CART">
  <div class="screen-title">
    <h1>{{customerName}} Bill</h1>
    <ol>
      <li ng-class="{ disabled: options.step !== STEP_CHECK_SPLIT }">Split</li>
      <li ng-class="{ disabled: options.step !== STEP_TIPPING }">Tip</li>
      <li ng-class="{ disabled: options.step !== STEP_PAYMENT_METHOD }">Pay</li>
      <li ng-class="{ disabled: options.step !== STEP_SIGNATURE }">E-Sign</li>
      <li ng-class="{ disabled: options.step !== STEP_RECEIPT }">Receipt</li>
    </ol>
  </div>

  <div class="screen-body border">
    <div class="screen-body-part checkout-body-total" ng-show="options.step !== STEP_CHECK_SPLIT">
      <form class="form">
        <h1><span>Total</span></h1>
      </form>
    </div>
  </div>

  <!-- Step: tipping -->

  <div
    class="screen-body"
    ng-show="options.step === STEP_TIPPING"
    ng-controller="CheckoutTipCtrl"
    ng-include src="getPartialUrl('checkout-tip')"/>

</div>
