<div class="screen-body-part checkout-body-main">
  <form id="checkout-block-tip" class="form" ng-show="!tipEditorOpen">
    <h2><span>Tip amount</span></h2>
    <table class="checkout-tip-table">
      <tr>
        <td><button class="button" ng-click="addTip(0.15)"><b>15%</b> <span>{{formatPrice(current.subtotal * 0.15)}}</span></button></td>
        <td><button class="button" ng-click="addTip(0.2)"><b>20%</b> <span>{{formatPrice(current.subtotal * 0.20)}}</span></button></td>
        <td><button class="button" ng-click="addTip(0.25)"><b>25%</b> <span>{{formatPrice(current.subtotal * 0.25)}}</span></button></td>
      </tr>
      <tr>
        <td colspan="3"><button class="button" ng-click="editTip()">Custom tip amount</button></td>
      </tr>
      <tr>
        <td colspan="3"><button class="button" ng-click="addTip(0.0);applyTip();">No tip</button></td>
      </tr>
    </table>
  </form>

  <form id="checkout-block-customtip" class="form" ng-show="tipEditorOpen">
    <h2><span>Custom tip amount</span></h2>
    <ul>
      <li><output id="custom-tip-output" class="output" for="custom-tip">{{formatPrice(current.tip)}}</output></li>
      <li><input id="custom-tip" type="range" ng-model="tipAmount" ng-change="addTip()" min="0.0" max="0.5" step="0.05" /></li>
      <li><button class="button" type="submit">Next</button></li>
    </ul>
  </form>
</div>
