<div class="screen-body-part checkout-body-main">
  <form class="form checkout-right-block" ng-show="!emailEditorOpen">
    <h2><span>Would you like a receipt?</span></h2>
    <ul class="vertical">
      <li><button class="button" ng-click="receiptEditEmail()">E-mail</button></li>
      <li><button class="button" ng-click="receiptPrint()">Print</button></li>
      <li><button class="button" ng-click="receiptNone()">None</button></li>
    </ul>
  </form>

  <form class="form checkout-right-block" ng-show="emailEditorOpen" ng-submit="receiptEmail()">
    <h2><span>Enter your e-mail address</span></h2>
    <ul class="horizontal">
      <li><input type="email" placeholder="E-mail address" ng-model="current.receipt_email" required /></li>
      <li><button class="button" type="submit">Submit</button></li>
    </ul>
  </form>
</div>
