<div class="scroller">
  <div class="scrollee">
    <table class="modifiers-list">
      <tr>
        <td class="modifier-category" ng-repeat="category in entry.modifiers">
          <h3>{{category.data.title}}</h3>
          <ul>
            <li class="modifier-item clickable" ng-repeat="modifier in category.modifiers" ng-click="updateModifiers(category, modifier)">
              <h4>{{modifier.data.title}}<span ng-show="modifier.data.price > 0">&nbsp;+{{modifier.data.price | formatprice}}</span></h4>
              <img ng-src="{{modifier.data.image | thumbnail:100:100}}" />
              <input
                type="checkbox"
                class="modifier-checkbox"
                id="{{modifier.data.id}}"
                ng-model="modifier.isSelected" />
              <label for="{{modifier.data.id}}"></label>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
