<div id="screen-survey" class="screen">
  <div class="screen-title">
    <h1 ng-show="step < 3">Rate Your Experience</h1>
    <h1 ng-show="step === 3">Thank you for your Visit!</h1>
  </div>

  <div class="screen-body" ng-show="step === 0">
    <form class="form screen-body-part survey-body-main" ng-submit="nextStep()">
      <table class="table survey-question-1" ng-if="step === 0">
        <tbody>
          <tr ng-repeat="question in page">
            <td class="survey-question-1-a">
              <h3>{{question.text}}</h3>
            </td>
            <td class="survey-question-1-b">
              <input ng-attr-id="{{ 'range-' + question.token }}" type="range" min="0" max="5" step="1" ng-model="question.feedback" />
              <div ng-attr-id="{{ 'rate-' + question.token }}" data-rateit-starwidth="75" data-rateit-starheight="75"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="horizontal">
        <li><button class="button secondary" type="button" ng-click="previousPage()" ng-show="pageIndex > 0">Back</button></li>
        <li><button class="button" type="submit">Next</button></li>
      </ul>
    </form>
  </div>

  <div class="screen-body" ng-show="step === 1">
    <form class="form screen-body-part survey-body-small" ng-submit="nextStep()">
      <h1>Did You Have Any Problems With Your Visit?</h1>
      <ul class="horizontal">
        <li><button class="button" type="button" ng-click="submitProblem(true)">Yes</button></li>
        <li><button class="button" type="button" ng-click="submitProblem(false)">No</button></li>
      </ul>
    </form>
  </div>

  <div class="screen-body" ng-show="step === 2">
    <form class="form screen-body-part survey-body-small" ng-submit="nextStep()">
      <h1>Are there any additional comments you would like to share with us?</h1>
      <div class="line"><textarea ng-model="comment" class="textarea" rows="5"></textarea></div>
      <ul class="horizontal">
        <li><button class="button" type="submit">Submit</button></li>
      </ul>
    </form>
  </div>

  <div class="screen-body" ng-show="step === 3">
    <form class="form screen-body-part survey-body-small" ng-submit="nextStep()">
      <h1>Enter Your email Below to receive a free appetizer on your next visit.</h1>
      <div class="line"><email placeholder="* Optional" ng-model="email" /></div>
    </form>
  </div>


</div>

<form id="screen-survey-controls" class="form screen-floater" ng-submit="exit()">
  <p>Survey Progress: {{ pageIndex + step + 1 }} of {{ pageCount + 2 }}</p>
  <ul class="horizontal">
    <li><button class="button secondary">Exit</button></li>
  </ul>
</form>
