extends _base

block head
  title SNAP
  link(href="/bower_components/lato/css/lato.min.css", rel="stylesheet")
  link(href="/dist/css/galaxies_main.min.css", rel="stylesheet")
  link(href="/dist/css/galaxies_desktop.min.css", rel="stylesheet")

block body
  #body
    #area-container
      #area-content
        block content
    block overlay
  block end
