extends _base

block head
  title SNAP
  link(href=getLib('lato/css/lato.min.css'), rel='stylesheet')
  link(href=getSnap('dist/css/galaxies_main.min.css'), rel='stylesheet')
  link(href=getSnap('dist/css/galaxies_mobile.min.css'), rel='stylesheet')
