extends _galaxies

block content
  #area-startup(class="area-view wide", ng-controller="StartupCtrl", ng-include="'/assets/galaxies/partials/startup.html'")

block end
  script(type="text/javascript").
    (function() {
      angular.bootstrap(document, ['SNAPStartup']);
    })();
