<div class="content-box cart" ng-show="state === 'cart'">
  <div class="cart-left" ng-show="(currentOrder).length === 0">
    <h2 class="cart-title">Current Order:</h2>
    <p class="cart-empty">The cart is empty, add some items to your order!</p>
  </div>
  <div class="cart-left" ng-show="(currentOrder).length > 0">
    <table class="cart-column-table">
        <tr class="cart-column-head">
          <td>
            <h2 class="cart-title">My Order:</h2>
          </td>
        </tr>
        <tr class="cart-column-main">
          <td class="cart-column-table-content">
            <div class="cart-table">
              <table class="table">
                <tbody>
                  <tr ng-repeat="data in currentOrder">
                    <td class="cart-item-image-column"><span class="cart-item-image"><img ng-src="{{data.item.image | thumbnail:370:370}}" /></span></td>
                    <td class="cart-item-name-column"><span class="cart-item-name"><span ng-bind-html="calculateDescription(data)" /></span></td>
                    <td class="cart-item-actions-column cart-actions">
                      <a class="action-link cart-action-edit" ng-show="!giftSeat && data.hasModifiers" ng-click="editItem(data)">Edit</a>
                      <a class="action-link cart-action-delete" ng-show="!giftSeat" ng-click="removeFromCart(data)">Delete</a>
                      <!--<a class="action-link cart-action-duplicate" ng-click="reorderItem(data)">Duplicate</a>-->
                    </td>
                    <td class="cart-item-quantity-column" ng-show="!giftSeat">
                      <table class="quantity">
                        <tr>
                          <td><button class="button quantity-button quantity-button-decrease" ng-click="data.quantity = data.quantity > 1 ? data.quantity - 1 : 1">-</button></td>
                          <td><input class="quantity-indicator" type="number" name="count" ng-model="data.quantity" editable="false" min="1" max="99" tabIndex="-1" onfocus="this.blur();" readonly /></td>
                          <td><button class="button quantity-button quantity-button-increase" ng-click="data.quantity = data.quantity < 99 ? data.quantity + 1 : 99">+</button></td>
                        </tr>
                      </table>
                    </td>
                    <td class="cart-item-price-column">
                      <span class="cart-item-price">{{formatPrice(calculatePrice(data))}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr class="cart-column-footer">
          <td>
            <footer>
              <div class="cart-togo">
                <label ng-if="!giftSeat"><input type="checkbox" ng-model="options.to_go_order" />To Go</label>
                <label ng-if="giftSeat"><input type="checkbox" checked disabled />Gift to {{giftSeat.name}}</label>
              </div>
              <div class="cart-total">Order Total: {{formatPrice(calculateTotalPrice(currentOrder))}}</div>
            </footer>
          </td>
        </tr>
      </tr>
    </table>
  </div>

  <div class="cart-right" ng-show="!giftSeat">
    <ul class="cart-box">
      <li ng-show="(currentOrder).length > 0"><button class="button cart-submit" ng-click="submitCart()" ng-show="(currentOrder).length > 0">Submit Order</button></li>
      <li ng-show="(totalOrder).length > 0"><button class="button cart-history" ng-click="showHistory()">Order History</button></li>
      <li ng-show="requestAssistanceAvailable"><button class="button cart-assistance" ng-click="requestAssistance()">Request Server</button></li>
      <li><button class="button cart-close" ng-click="closeCart()">Back to Menu</button></li>
      <li ng-show="checkoutEnabled && (totalOrder).length > 0"><button class="button cart-check" ng-click="payCheck()">Pay Check</button></li>
    </ul>
  </div>
</div>

<div class="content-box cart" ng-show="state === 'history'">
  <div class="cart-left" ng-show="(totalOrder).length > 0">
    <table class="cart-column-table">
        <tr class="cart-column-head">
    		  <td>
            <h2 class="cart-title">Order History:</h2>
            <h2 class="cart-seat-name">{{seat_name}}</h2>
          </td>
    		</tr>
        <tr class="cart-column-main">
          <td class="cart-column-table-content">
            <div class="cart-table">
              <table class="table">
                <tbody>
                  <tr ng-repeat="data in totalOrder">
                    <td class="cart-item-image-column"><span class="cart-item-image"><img ng-src="data.item.image | thumbnail:370:370" /></span></td>
                    <td class="cart-item-name-column"><span class="cart-item-name"><span ng-bind-html="calculateDescription(data)" /></span></td>
                    <td class="cart-item-actions-column cart-actions">
                      <a class="action-link cart-action-duplicate" ng-click="reorderItem(data)">Reorder</a>
                    </td>
                    <td class="cart-item-quantity-column">
                      <table class="quantity">
                        <tr>
                          <td><input class="quantity-indicator" type="number" name="count" ng-model="data.quantity" editable="false" min="1" max="99" tabIndex="-1" onfocus="this.blur();" readonly /></td>
                        </tr>
                      </table>
                    </td>
  			            <td class="cart-item-price-column">{{formatPrice(calculatePrice(data))}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr class="cart-column-footer">
          <td>
            <footer>
              <div class="cart-total">Order Total: {{formatPrice(calculateTotalPrice(totalOrder))}}</div>
            </footer>
          </td>
        </tr>
      </tr>
    </table>
  </div>

  <div class="cart-right">
    <ul class="cart-box">
      <li><button class="button cart-cart" ng-click="showCart()">Current Order</button></li>
      <li ng-show="requestAssistanceAvailable"><button class="button cart-assistance" ng-click="requestAssistance()">Request Server</button></li>
      <li><button class="button cart-close" ng-click="closeCart()">Back to Menu</button></li>
      <li ng-show="checkoutEnabled && (totalOrder).length > 0"><button class="button cart-check" ng-click="payCheck()">Pay Check</button></li>
    </ul>
  </div>
</div>
