<div class="content-box">
  <div class="chat-left">
    <table class="chat-controls-table">
      <tr class="chat-controls-top" ng-show="chatEnabled && activeDevices.length > 0">
        <td>
          <h1>Currently Chatting with:</h1>
        </td>
      </tr>
      <tr class="chat-controls-middle" ng-show="chatEnabled">
        <td>
          <div class="chat-controls-scroller">
            <div class="chat-controls-seat" ng-repeat="device in activeDevices">
              <table>
                <tr>
                  <td class="chat-controls-seat-number"><span>{{getSeatNumber(device)}}</span></td>
                  <td class="chat-controls-seat-name">
                    <h2>{{getDeviceName(device)}}</h2>
                    <p ng-class="{ unread: getUnreadCount(device) > 0 }">{{getUnreadCount(device)}} new message{{ getUnreadCount(device) !== 1 ? 's' : '' }}</p>
                  </td>
                  <td class="chat-controls-seat-gift">
                    <button ng-if="!giftDevice" class="chat-send-gift" ng-click="sendGift(device)">Send a drink</button>
                    <button ng-if="giftDevice && giftDevice === device" class="chat-cancel-gift" ng-click="cancelGift()">Cancel gift</button>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </td>
      </tr>
      <tr class="chat-controls-bottom">
        <td>
          <button class="chat-toggle-button" type="button" ng-class="{ red: !chatEnabled }" ng-click="toggleChat()">{{ chatEnabled ? 'Chat on' : 'Chat off' }}</button>
          <button class="chat-map-button" type="button" ng-show="chatEnabled" ng-click="openMap()">
            <div>{{locationName}} Map</div>
            <span>Start new chat</span>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="chat-right">
    <table class="chat-chats-table">
      <thead>
        <tr>
          <td class="chat-chats-column" ng-repeat="device in activeDevices" ng-show="chatEnabled">
            <table class="chat-chats-title">
              <tr>
                <td class="chat-chats-title-text"><h1>{{getDeviceName(device)}}</h1></td>
                <td class="chat-chats-title-close"><button class="chat-close-button" type="button" ng-click="closeChat(device)">X</button></td>
              </tr>
            </table>
          </td>
          <td class="chat-chats-column">
            <table class="chat-chats-title">
              <tr>
                <td class="chat-chats-title-text"><h1>{{locationName}} chat room</h1></td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="chat-chats-column" ng-show="chatEnabled" ng-repeat="device in activeDevices" ng-include ng-controller="ChatBoxCtrl" src="getPartialUrl('chatbox')">
          </td>
          <td class="chat-chats-column" ng-include ng-controller="ChatBoxCtrl" src="getPartialUrl('chatbox')">
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
