<div class="checkout-split checkout-split-left">
  <table>
    <tr class="checkout-split-title"><td><h2>Choose a tip amount:</h2></td></tr>
    <tr class="checkout-split-table"><td>
      <ul class="buttons-vertical">
        <li><label id="checkout-button-tip1" class="checkout-button-tip"><button class="button" ng-click="addTip(0.1)">10% = {{formatPrice(current.subtotal * 0.1)}}</button></label></li>
        <li><label id="checkout-button-tip2" class="checkout-button-tip"><button class="button" ng-click="addTip(0.15)">15% = {{formatPrice(current.subtotal * 0.15)}}</button></label></li>
        <li><label id="checkout-button-tip3" class="checkout-button-tip"><button class="button" ng-click="addTip(0.2)">20% = {{formatPrice(current.subtotal * 0.2)}}</button></label></li>
      </ul>
    </td></tr>
  </table>
</div>

<div class="checkout-split checkout-split-right">
  <table>
    <tr class="checkout-split-title"><td><h2>Or set tip amount:</h2></td></tr>
    <tr class="checkout-split-table"><td>
      <ul class="buttons-vertical">
        <li>
          <div><input id="checkout-tip-amount" type="number" name="count" min="0" step="0.1" ng-model="current.tip" /></div>
          <div><button id="checkout-button-tipdone" class="button" ng-click="applyTip()">Done</button></div>
        </li>
      </ul>
    </td></tr>
  </table>
</div>
