<div class="content-box checkout" ng-show="initialized">
  <table class="checkout-table">
    <tr>
      <td class="checkout-left">
        <div class="checkout-checkrow header">
          <span class="left" ng-class="{invisible: options.step === STEP_CHECK_SPLIT}">Check {{options.index + 1}} of {{options.count}}</span>
          <span class="right">{{options.seat}}</span>
        </div>

        <div class="checkout-checkrow noline">
          <span class="left">SUBTOTAL:</span>
          <span class="right">{{formatPrice(current.subtotal)}}</span>
        </div>

        <div class="checkout-checkrow">
          <span class="left">TAX:</span>
          <span class="right">{{formatPrice(current.tax)}}</span>
        </div>

        <div class="checkout-checkrow" ng-class="{invisible: options.step === STEP_CHECK_SPLIT}">
          <span class="left">TIP:</span>
          <span class="right">{{formatPrice(current.tip)}}</span>
        </div>

        <div class="checkout-checkrow noline">
          <span class="left">TOTAL:</span>
          <span class="right">{{formatPrice(current.tip + current.subtotal + current.tax)}}</span>
        </div>
      </td>

      <td class="checkout-right" rowspan="2">

        <!-- Step: check splitting -->

        <div
          class="checkout-page"
          ng-show="options.step === STEP_CHECK_SPLIT"
          ng-controller="CheckoutSplitCtrl"
          ng-include src="getPartialUrl('checkout-split')"/>

        <!-- Step: payment -->

        <div
          class="checkout-page"
          ng-show="options.step === STEP_PAYMENT"
          ng-controller="CheckoutPaymentCtrl"
          ng-include src="getPartialUrl('checkout-payment')"/>

        <!-- Step: tipping -->

        <div
          class="checkout-page"
          ng-show="options.step === STEP_TIPPING"
          ng-controller="CheckoutTipCtrl"
          ng-include src="getPartialUrl('checkout-tip')"/>

        <!-- Step: signature -->

        <div
          class="checkout-page"
          ng-show="options.step === STEP_SIGNATURE"
          ng-controller="CheckoutSignatureCtrl"
          ng-include src="getPartialUrl('checkout-signature')"/>

        <!-- Step: receipt method -->

        <div
          class="checkout-page"
          ng-show="options.step === STEP_RECEIPT"
          ng-controller="CheckoutReceiptCtrl"
          ng-include src="getPartialUrl('checkout-receipt')"/>

      </td>
    </tr>
    <tr>
      <td class="checkout-left">
        <ul class="checkout-progress">
          <li ng-class="{ active: options.step === STEP_CHECK_SPLIT }"><span>Split Check</span></li>
          <li ng-class="{ active: options.step === STEP_TIPPING }"><span>Add a Tip</span></li>
          <li ng-class="{ active: options.step === STEP_PAYMENT }"><span>Payment Method</span></li>
          <li ng-class="{ active: options.step === STEP_SIGNATURE }"><span>E-Sign</span></li>
          <li ng-class="{ active: options.step === STEP_RECEIPT }"><span>Receipt</span></li>
        <ul>
      </td>
    </tr>
  </table>
</div>
