<div class="dialog-modal" ng-click="closeAlert()">
  <div class="dialog-confirm" ng-show="showConfirm">
    <p>{{confirmText}}</p>
    <div>
      <button type="button" class="dialog-confirm-yes green" ng-click="closeConfirm(true)">Confirm</button>
      <button type="button" class="dialog-confirm-no red" ng-click="closeConfirm(false)">Decline</button>
    </div>
  </div>
  <div class="dialog-busy" ng-show="isBusy"></div>
  <div class="dialog-alert" ng-show="showAlert">
    <h2 ng-if="alertTitle">{{alertTitle}}</h2>
    <p>{{alertText}}</p>
  </div>
</div>
