<div class="content-box item-edit-popup">
  <div class="item-main">
    <div class="item-photo"><img ng-src="{{getMediaUrl(entry.item.image, 600, 600)}}" alt=""/></div>
  </div>

  <div class="item-editor">
    <div class="item-editor-header">
      <h1 class="item-title">{{category.data.title}}</h1>
    </div>

    <div class="item-editor-modifiers">
      <table class="item-modifiers">
        <tr>
          <td class="item-modifiers-left">
            <button class="button modifier-navigation modifier-left-button" ng-click="leftButtonClick()">{{leftButtonText()}}</button>
          </td>
          <td class="item-modifiers-items">
            <ul>
              <li ng-repeat="modifier in category.modifiers" ng-click="updateModifiers(category, modifier)">
                <label for="{{modifier.data.id}}">
                  <img ng-src="{{getMediaUrl(modifier.data.image, 100, 100)}}" />
                  <span>{{getModifierTitle(modifier)}}</span>
                </label>
                <input
                  type="checkbox"
                  id="{{modifier.data.id}}"
                  ng-model="modifier.isSelected" />
              </li>
            </ul>
          </td>
          <td class="item-modifiers-right">
            <button class="button modifier-navigation modifier-right-button" ng-click="rightButtonClick()">{{rightButtonText()}}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
