<div id="signin-step-splash" class="content-box" ng-show="step === STEP_SPLASH && initialized">
  <ul class="buttons-vertical">
    <li><button id="checkout-button-card" class="button" ng-click="register()">Register</button></li>
    <li><button id="checkout-button-cash" class="button" ng-click="login()">Login</button></li>
    <li><button id="checkout-button-cash" class="button" ng-click="guestLogin()">Login as Guest</button></li>
  </ul>
</div>

<div
  id="signin-step-login"
  class="content-box"
  ng-show="step === STEP_LOGIN && initialized"
>
  <div class="layout-left">
    <form id="regularlogin-form" class="form" ng-submit="doLogin()">
      <h1>Login</h1>
      <p><input type="email" placeholder="E-mail" ng-model="credentials.login" autocomplete="off" required /></p>
      <p><input type="password" placeholder="Password" ng-model="credentials.password" autocomplete="off" required /></p>
      <p><span class="action-link" ng-click="resetPassword()">Forgot password?</span></p>
      <p class="form-bottom"><button type="submit">Login</button></p>
    </form>
  </div>
  <div class="layout-right">
    <form id="sociallogin-form" class="form">
      <h1>Or Login with:</h1>
      <div class="sociallogin-component">
        <div class="socialbutton socialbutton-facebook" ng-click="loginFacebook()"></div>
        <div class="socialbutton socialbutton-twitter" ng-click="loginTwitter()"></div>
        <div class="socialbutton socialbutton-google" ng-click="loginGoogle()"></div>
      </div>
    </form>
  </div>
</div>

<div
  id="signin-step-registration"
  class="content-box"
  ng-show="step === STEP_REGISTRATION && initialized"
>
  <div class="layout-left">
    <form id="registration-form" data-caption="Register" class="form" ng-submit="doRegistration()">
      <h1>Register</h1>
      <p>
        <input id="registration-firstname" type="text" placeholder="First Name" ng-model="registration.first_name" required />
        <input id="registration-lastname" type="text" placeholder="Last Name" ng-model="registration.last_name" required />
      </p>
      <p><input type="email" placeholder="E-mail" ng-model="registration.email" autocomplete="off" required /></p>
      <p><input id="registration-password" type="password" placeholder="Password" ng-model="registration.password" autocomplete="off" minlength="6" required /></p>
      <p><input id="registration-password2" type="password" placeholder="Confirm Password" ng-model="registration.password2" autocomplete="off" required /></p>
      <p class="form-bottom"><button type="submit">Sign Me Up</button></p>
    </form>
  </div>
  <div class="layout-right">
    <form id="socialregistration-form" class="form">
      <h1>Or register with:</h1>
      <div class="sociallogin-component">
        <div class="socialbutton socialbutton-facebook" ng-click="loginFacebook()"></div>
        <div class="socialbutton socialbutton-twitter" ng-click="loginTwitter()"></div>
        <div class="socialbutton socialbutton-google" ng-click="loginGoogle()"></div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  var password1 = document.getElementById('registration-password');
  var password2 = document.getElementById('registration-password2');

  var checkPasswordValidity = function() {
      if (password1.value !== password2.value) {
          password2.setCustomValidity('Passwords must match.');
      } else {
          password2.setCustomValidity('');
      }
  };

  password1.addEventListener('change', checkPasswordValidity, false);
  password2.addEventListener('change', checkPasswordValidity, false);
</script>

<div class="content-box" ng-show="step === STEP_GUESTS && initialized">
  <form id="guestcount-form" class="modal-form form visible" ng-submit="submitGuestCount()">
    <div class="modal-form-container">
      <h1>Number of guests</h1>
      <table class="item-editor-main">
        <tr>
          <td><button type="button" class="button quantity-button quantity-button-decrease" ng-click="session.guestCount = session.guestCount > 1 ?session.guestCount - 1 : 1">-</button></td>
          <td><input class="quantity-indicator" type="number" name="count" ng-model="session.guestCount" editable="false" min="1" max="9" tabIndex="-1" onfocus="this.blur();" readonly /></td>
          <td><button type="button" class="button quantity-button quantity-button-increase" ng-click="session.guestCount = session.guestCount < 9 ? session.guestCount + 1 : 9">+</button></td>
        </tr>
      </table>
      <p class="form-bottom">
        <button class="button" type="submit">Next</button>
      </p>
    </div>
  </form>
</div>

<div class="content-box" ng-show="step === STEP_EVENT && initialized">
  <form id="specialevent-form" class="modal-form form visible">
    <div class="modal-form-container">
      <h1>Is this a special event?</h1>
      <table class="form-table">
        <tr>
          <td><button class="button" ng-click="submitSpecialEvent(true)">Yes</button></td>
          <td><button class="button" ng-click="submitSpecialEvent(false)">No</button></td>
        </tr>
      </table>
    </div>
  </form>
</div>

<div class="content-box" ng-show="step === STEP_RESET && initialized">
  <form id="passwordreset-form" class="modal-form form visible" ng-submit="passwordResetSubmit()">
    <div class="modal-form-container">
      <h1>Reset Password</h1>
      <table class="form-table">
        <tr>
          <td><label for="username">E-mail:</label></td>
          <td><input type="email" name="email" ng-model="passwordreset.email" autocomplete="off" required/></td>
        </tr>
      </table>
      <p class="form-bottom">
        <button type="submit">Submit</button>
        <button type="button" ng-click="passwordResetCancel()">Cancel</button>
      </p>
    </div>
  </form>
</div>
