- version = version || '0.0.0';

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="refresh", content="0;URL='" + version + "/startup.html'")
    link(rel="icon", type="image/x-icon", href="favicon.ico")
  body
