@images: '';

@font-weight-bold: 700;
@font-weight-normal: 400;
@font-weight-light: 300;

@mainmenu-spacing: 4em;

@vertical-form-margin: 1em;

@navigation-height: 9.5em;
@navigation-width: 45em;
@navigation-color: #1d2123;
@navigation-dropdown-right: 2em;
@navigation-dropdown-width: 45em;
@navigation-controls-width: 0.9;
@navigation-controls-spacing: (@navigation-dropdown-width - (@navigation-dropdown-width * @navigation-controls-width)) / 2;
@navigation-spacing: 7em;

@menu-tile-width: 47em;
@menu-tile-height: 41em;
@menu-tile-spacing: 1.2em;

@page-content-y: 12em;

@page-padding-left: 3em;
@page-padding-right: 4.2em;

@link-color: #2aa9df;
