@checkout-total-width: 58em;
@checkout-main-left: @checkout-total-width + @navigation-controls-spacing + @navigation-spacing;
@scheckout-checks-y: @screen-body-y + 4em;

.screen-checkout-checks {
  left:@screen-padding-left !important;
  right: auto !important;
  width: @checkout-total-width;
  top:@scheckout-checks-y !important;
}

.checkout-body-total {
  left:0;
  width: @checkout-total-width;
}

.checkout-body-main {
  right:0;
  left:@checkout-main-left;
}

.checkout-tip-table {
  width:100%;
  border-spacing: 2em;
  border-collapse: separate;

  td {
    width:33%;
    padding:0;

    .button {
      width:100%;
    }
  }

  tr:first-child .button {
    height:10em;
    padding-left:0;
    padding-right:0;
  }

  .button {
    b {
      display:block;
      font-size:2.0em;
    }

    span {
      display:block;
      font-size:0.75em;
      font-weight:@font-weight-normal;
    }
  }
}

.checkout-right-block {
  width:75em;
  margin:4em auto 0;
}

.checkout-right-container {
  width:100%;
  margin:4em auto 0;

  .horizontal {
    width:60%;
  }
}

#checkout-tip-output {
  width:7em;
}

#checkout-tip-input {
  width:40%;
  margin-left:auto;
  margin-right:auto;
}

.checkout-subtotal, .checkout-total {
  background:#f4f4f4;
  width:100%;
  margin:1em 0;

  td {
    font-size:2.7em;
    padding:0.25em 1em;
  }

  td:last-child {
    text-align:right;
  }

  tr:first-child td {
    padding-top:1.5em;
  }

  tr:last-child td {
    padding-bottom:1.5em;
  }
}

.checkout-subtotal {
  margin-top:2em;
}

.checkout-total td {
  font-size:3.3em;
}

.checkout-total td:first-child {
  color: @highlight-text-color;
}

.checkout-cardreader {
  width:100%;
  height:36em;
  position:relative;
  background: url('@{images}/image-cardreader.png') no-repeat center top;
}

.checkout-cardreader span {
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
  font-size:2.3em;
  color: @hint-text-color;
}

#checkout-signature {
  width: 100%;
  height: 200px;
  margin: 0 auto 5em;
  background: white;
  position: relative;
  border:1px solid #ccc;
  border-radius: 0.5em;
}

#checkout-signature-input {
  width: 100%;
  height: 100%;
}
