.checkmark {
	display: none;
}

.checkmark + label {
	display: inline-block;
	position: relative;
	text-indent:1.2em;
}

.checkmark:checked + label {
  background: url('@{images}/icon-checkmark.png') no-repeat left center;
}
