@page-item-box-width: (@menu-tile-width * 2) + @menu-tile-spacing;
@page-item-box-height: (@menu-tile-height * 2) + @menu-tile-spacing;
@page-item-box-y: @page-content-y + @menu-tile-spacing;
@page-item-form-y: @menu-tile-height + 1em;
@page-item-photo-height: @menu-tile-height + 4em;

.page-item-box {
  top:@page-item-box-y;
  width:@page-item-box-width;
  height:@page-item-box-height;
  background:#fff;
  margin:0 auto !important;
  position:relative !important;
}

.page-item-photo {
  width:@menu-tile-width;
  height:@page-item-photo-height;
  overflow:hidden;
  position:relative;
  display:block;

  ul, li, img {
    height:@page-item-photo-height;
  }
}

.page-item-info {
  position:absolute;
  left:@menu-tile-width;
  right:0;
  top:5em;
  height:@menu-tile-height;
  overflow-x:hidden;
  overflow-y:auto;
  padding:0 3.5em;
}

.page-item-info h1 {
  font-size:2.8em;
  font-weight:normal;
  margin:0;
}

.page-item-info h2 {
  font-size:1.4em;
  font-weight:normal;
}

.page-item-info p {
  font-size:1.4em;
  line-height:1.5em;
  color:#747474;
  padding-top:2.5em;
  border-top:1px solid #747474;
  margin-top:1em;
}

.page-item-controls {
  width:100%;
  position:absolute;
  left:0;
  bottom:3em;
}

.page-item-controls ul {
  width:75em;
  margin:0 auto 0;
}

.page-item-count {
  width:100%;
  position:absolute;
  left:0;
  top:@page-item-form-y;
}

.page-item-count input[type='range'] {
  width:35em;
}

.page-item-done {
  width:72em;
  margin:26em auto 0;
}

.page-item-done h2 {
  margin-bottom:5em;
}

.page-item-modifiers {
  position:absolute;
  left:0;
  right:0;
  top:@page-item-form-y;
}

.page-item-modifiers .scroller {
  height:23em !important;
  position:static !important;
}


.modifiers-list {
  border-collapse: separate;
  border-spacing: 1.5em;
}

.modifier-category ul {
  list-style-type:none;
  padding:0;
  margin:0;
  height:19em;
  display: table;
}

.modifier-item {
  position:relative;
  width:15em;
  min-width:15em;
  height:19em;
  display: table-cell;
  border:1px solid #e4e4e4;
  border-radius: 1em;
  background:white;
}

.modifier-item label {
  display:block;
  width:15em;
  cursor:pointer;
  overflow:hidden;
}

.modifier-item h4 {
  position:absolute;
  font-size:1.5em;
  left:0.5em;
  right:0.5em;
  top:0.5em;
  text-align:center;
  overflow:hidden;
  white-space:nowrap;
  color:#525252;
  margin:0;
}

.page-item-modifiers h3 {
  margin-bottom:0;
}

.modifier-item h4 span {
  font-size:0.7em;
  color:#969696;
}

.modifier-item img {
  display:block;
  width:10em;
  height:10em;
  position:absolute;
  top:4em;
  left:2.5em;
}

.modifier-item label {
  width:100%;
  bottom:0;
  position:absolute;
  border-radius: 0 0 1em 1em;
}

.page-item-photo {
  width:470px;
  height:410px;
  overflow:hidden;
}
