.modifier-checkbox {
	display: none;
}

.modifier-checkbox + label {
  background: url('@{images}/checkbox-off.png') no-repeat center center #e6e6e6;
	display: inline-block;
	position: relative;
  height:3.5em;
  max-width:15em;
}

.modifier-checkbox:checked + label {
  background: url('@{images}/checkbox-on.png') no-repeat center center #8ac435;
}
